/Proyecto Final/dist/
/Proyecto Final/nbproject/private/
/Proyecto Final/build/
/Proyecto Final/nbbuild/
/Proyecto Final/dist/
/Proyecto Final/nbdist/
/Proyecto Final/nbactions.xml
/Proyecto Final/nb-configuration.xml
.nb-gradle/